@use "../variables";

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin: variables.$spacing-2 0px;
    font-size: variables.$font-size-sm;
    
    &:first-child {
      margin-top: 0;
    }

    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      input[type="checkbox"] {
        appearance: none;
        width: 25px;
        height: 25px;
        margin-right: variables.$spacing-2;
        border: 1px solid variables.$light-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        &::before {
          content: "";
          background-color: variables.$light-blue;
          width: 15px;
          height: 15px;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
        }
        &:checked::before {
          transform: scale(1);
        }
        &:checked + span {
          color: variables.$light-blue;
        }
      }
    }
  }
}