$light-blue: #437de8;

$light-gray: #cfccc5;
$medium-gray: #c5c1be;
$dark-gray: #e8e6e7;

$white: #ffffff;

$radius-1: 8px;

$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;

$font-size-xs: 16px;
$font-size-sm: 18px;
$font-size-md: 20px;
$font-size-xl: 22px;